  /* Stildefinitionen für die gesamte Seite */
  html{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100%;
  }

  body{
    margin: 0;
    background-image: url(Background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* Stildefinitionen für den Header */
  header h6{
    margin: 0;
    color: 	#FF0000;
  }

  header{
    display: flex;
    align-items: center;
    padding: 20px;
    background-image: url(Zielflagge.jpg);
    position: sticky;
    width: 100%;
    height: 100%;
  }

  /* Stildefinitionen für den Footer */
  footer a{
    font-family: sans-serif;
    font-size: large;
    color: #00FF00;
  }

  /* Stildefinitionen für den zentralen Header-Bereich */
  .header {
    width: 100%;
    max-width: 1200px; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  /* Stildefinitionen für die Suchleiste */
  .suchleiste {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    width: calc(100% - 40px); /* Die Breite abzüglich der Abstände zur linken und rechten Seite */
    position: relative; 
  }

  #search-input {
    padding: 10px;
    width: 100%;
    border: 1px solid #f0f0f0;
    border-radius: 8px;
    outline: none;
  }

  #search-button {
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }

  /* Stildefinition für den Hovereffekt */
  #search-button:hover {
    background-color: #00FF00;
  }

  /* Stildefinitionen für Bilder */
  main .Bildhover img:hover{
    display: flex;
    position: relative;
    margin: 20px, 0, 0, 20px;
    transition: transform 0.7s ease-out;
    transform: scale(1.1);
    cursor: pointer;
  }

  .Bilder{
    margin-top: 40px;
    margin-bottom: 40px;
    width: 350px;
    height: 200px;
  }

  /* Stildefinitionen für das Vorschlagspopup */
  .suggestions-popup {
    text-align: left;
    background-color: #fff;
    max-height: 200px;
    overflow-y: auto;
    display: none;
    left: 0;
    z-index: 1;
    width: 100%;
    position: absolute;
    top: calc(100%); 
    border: 1px solid #f0f0f0;
    border-radius: 8px;
    outline: none;
  }

  .suggestions-popup ul {
    padding: 0;
    margin: 0;
  }

  .suggestions-popup li {
    list-style: none;
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ccc; /* Trennlinien zwischen den Vorschlägen */
  }

  .suggestions-popup li:last-child {
    border-bottom: none; /* Entfernt die Trennlinie am unteren Rand */
  }

  .suggestions-popup li:hover {
    background-color: #f0f0f0;
  }

  /* Stildefinitionen für "Ähnliche Fahrer" (Nationalität) */
  .similar-drivers {
    font-size: 14px; 
    font-weight: bold;
    color: blue;
    cursor: default; 
    background-color: #f0f0f0;
    border: 1px solid #ccc;
  }

  .suggestions-popup li.similar-drivers:hover {
    background-color: #f0f0f0;
    cursor: default;
  }

  /* Stildefinitionen für das Impressum-Popup */
  #impressum-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    text-align: center;
  }

  #impressum-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  #close-impressum {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
  }
  
  .popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }

  .popup-content {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: relative;
    text-align: left;
  }

  .close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
  }






  
